<mat-card>
  <form (ngSubmit)="onLogin()" [formGroup]="loginForm">

    <h1>Login</h1>

    <mat-form-field>
      <mat-label>E-Mail Address</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="email.invalid">
        Please enter a Valid E-mail Address.
      </mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Should be at least 5 characters">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error *ngIf="password.invalid">
        Please a password with at least 5 characters.
      </mat-error>
      <mat-hint align="end">{{ password.value?.length || 0 }}/5</mat-hint>
    </mat-form-field>

    <div style="text-align: center">
      <button *ngIf="!isLoading" mat-raised-button
              color="primary"
              type="submit"
              [disabled]="loginForm.invalid">
        Login
      </button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>

  </form>
</mat-card>
