<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading"
        (ngSubmit)="onSavePost()"
        [formGroup]="postForm">
    <h1>{{ editMode ? 'Edit Post' : 'Save Post' }}</h1>

    <mat-form-field hintLabel="Should be at least 5 characters">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required>
      <mat-error *ngIf="title.invalid">
        Please enter a Post title of at least 5 characters.
      </mat-error>
      <mat-hint align="end">{{ title.value?.length || 0 }}/5</mat-hint>
    </mat-form-field>

    <div>
      <button mat-stroked-button
              type="button"
              (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>

    <mat-form-field hintLabel="Should be at least 5 characters">
      <mat-label>Content</mat-label>
      <textarea matInput rows="6" formControlName="content" required></textarea>
      <mat-error *ngIf="content.invalid">
        Please enter a Post content of at least 5 characters.
      </mat-error>
      <mat-hint align="end">{{ content.value?.length || 0 }}/5</mat-hint>
    </mat-form-field>

    <div style="text-align: center">
      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="postForm.invalid">
        {{ editMode ? 'Edit' : 'Save' }}
      </button>
    </div>

  </form>
</mat-card>
