mat-form-field,
textarea {
  width: 100%;
}

h1 {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

form > * {
  margin: 10px 0;
}

input[type=file] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin-top: 1rem;
}

.image-preview img {
  max-height: 100%;
}
