<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">

  <mat-accordion multi="true" *ngIf="posts.length > 0; else noPost">

    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <p>{{ post.content }}</p>
      <div class="post-image">
        <img [src]="post.imageUrl" [alt]="post.title">
      </div>
      <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/edit', post._id]">
          EDIT
        </a>
        <button mat-button color="warn" (click)="onDelete(post._id)">
          DELETE
        </button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

  <mat-paginator [length]="totalPosts"
                 [pageSize]="postsPerPage"
                 [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChanged($event)"></mat-paginator>

  <ng-template #noPost>
    <p class="info-text mat-body-1">No Posts added yet...</p>
  </ng-template>
</div>
